#container {
    padding: 0;
    margin: auto;
    display: block;
    width: 480px;
    height: 320px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#view {
    width: 100%;
    height: 100%;
    border: 1px solid #c3c3c3;
}

#title {
    position: absolute;
    left: -10px;
    top: -125px;
    width: 200px;
    height: 70px;

}
#main {
    bottom: 4%;
    left: 29%;
    position: absolute;
    width: 100%;
    height: 45%;
    font-family: "San Francisco";
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
#options {
    bottom: 15%;
    left: 25%;
    position: absolute;
    width: 50%;
    height: 70%;
    display: none;
    border: 2px solid #87CEFA;
    border-radius: 4px;
    background-color: #87CEFA;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: "San Francisco";
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
#playButton, #optionButton, #leaderBoardButton, #tutorialButton {
    border: 2px solid #87CEFA;
    border-radius: 4px;
    color: white;
    background-color: #87CEFA;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    margin: 4px;
}
#playButton:hover, #optionButton:hover, #leaderBoardButton:hover, #tutorialButton:hover {
    color: black;
    background-color: white;
}
#backButton:hover, #submitButton:hover {
    color: #87CEFA;
}
#backButton {
    border: 2px solid #87CEFA;
    border-radius: 4px;
    color: black;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    margin: 4px;
}
#clock {
    position: relative;
    color: black;
    left: 375px;
    top: -390px;
    font-family: "San Francisco";
    display: none;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
#timerUI {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    font-family: "San Francisco";
    left: 334px;
    top: -361px;
    color: black;
    display: none;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
#bgmButton, #sfxButton {
    padding: 15px;
}
#colorblind {
    margin-bottom: 12px;
}
#optionBox {
    margin-top: 25px;
    font-size: 15px;
    color: black;
    text-shadow: none;
}
#hud {
    bottom: 100%;
    width: 100%;
    position: absolute;
    display: none;
    border: 1px solid black;
    margin-left:auto;
    margin-right:auto;
    font-family: "San Francisco";
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.heart {
    height: 25px;
    width: 25px;
    display: inline-flex;
    vertical-align: middle;
}
#lives {
    margin: 10px;
    display: inline-flex;
    vertical-align: middle;
    position: initial;
}
#score {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: 115px;
    top: -411px;
    font-family: "San Francisco";
    color: black;
    display: none;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
#pauseButton {
    height: 25px;
    width: 25px;
    margin-left: 140px;
    display: inline-flex;
    vertical-align: middle;
    position: initial;
}
#target {
    height: 40px;
    width: 40px;
    border: 1px solid #c3c3c3;
}
#targetBox {
    display: inline-flex;
    margin-left: 110px;
    font-weight: bold;
    color: black;
    font-size: 14px;
    vertical-align: middle;
    position: initial;
}
#pause_playButton, #pause_retryButton, #pause_exitButton {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
}
#pause {
    bottom: 30%;
    left: 25%;
    position: absolute;
    width: 50%;
    height: 40%;
    font-family: "San Francisco";
    display: none;
    border: 2px solid #87CEFA;
    border-radius: 4px;
    background-color: #87CEFA;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
#gameOver {
    bottom: 25%;
    left: 25%;
    position: absolute;
    width: 50%;
    height: 60%;
    display: none;
    font-family: "San Francisco";
    border: 2px solid #87CEFA;
    border-radius: 4px;
    background-color: #87CEFA;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
#go_retryButton, #go_exitButton {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 16px;
    width: 40px;
    height: 40px;
}
#leaderboard {
    bottom: 15%;
    left: 25%;
    position: absolute;
    width: 50%;
    height: 70%;
    display: none;
    border: 2px solid #87CEFA;
    border-radius: 4px;
    background-color: #87CEFA;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: "San Francisco";
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
#leaderboardTable tr {
    font-size: 15px;
    margin: auto;
    text-shadow: none;
}
#leaderboardTable tr:nth-child(n + 11){
    display: none;
}
#scoreSubmitForm {
    margin-top: 12px;
    margin-left: 16px;
    font-size: 15px;
    text-shadow: none;
    color: black;
}
#submitButton {
    border: 2px solid #87CEFA;
    border-radius: 4px;
    color: black;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    margin: auto;
}
#submitScreen {

}
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
#hudTable {
    border: solid;
}